<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DomiActas IT</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/dominion_logo.png') }}" type="image/x-icon">
</head>
<body class="bg-gray-900 text-white">
    <main class="px-10 pt-5">
        <section class="bg-slate-800 px-5 rounded-lg mb-4 flex items-center justify-between">
            <article class="flex items-center space-x-2">
                <img src="{{ url_for('static', filename='img/dominion.svg') }}" alt="" class="w-15 h-15">
                <h1 class="border-l-2 pl-3 border-l-white text-2xl font-bold text-gray-900 dark:text-white">Generar acta de asignacion</h1>
            </article>
            <article class="space-x-2 bg-gray-900 px-5 py-3 my-2 rounded-full">
                <a href="{{ url_for('asignacion') }}" class="py-1.5 px-2 text-sm font-medium cursor-pointer text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Asignacion</a>
                <a href="{{ url_for('devolucion') }}" class="py-1.5 px-2 text-sm font-medium cursor-pointer text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Devolucion</a>
                <a href="{{ url_for('descuento') }}" class="py-1.5 px-2 text-sm font-medium cursor-pointer text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Descuento</a>
                <a href="{{ url_for('mantenimiento') }}" class="py-1.5 px-2 text-sm font-medium cursor-pointer text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Mantenimiento</a>
            </article>
        </section>
        
        <form method="post" action="{{ url_for('generar_asignar') }}">
            <section class="md:flex md:gap-5">
                <article class="bg-slate-800 p-5 rounded-lg mb-6 w-[40%]">
                    <div class="grid grid-cols-3 gap-3 mb-5">
                        <div class="col-span-2 md:mr-3">
                            <label for="ciudad_entrega" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ciudad</label>
                            <select id="ciudad_entrega" name="ciudad" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                <option value="">Seleccione</option>
                                <option value="RIOHACHA">Riohacha</option>
                                <option value="SAN JUAN">San Juan</option>
                                <option value="MAICAO">Maicao</option>
                                <option value="SANTA MARTA">Santa Marta</option>
                                <option value="FUNDACION">Fundacion</option>
                            </select>
                        </div>
                        <div class="grid grid-cols-4 gap-3 col-span-5">
                            <div>
                                <label for="dia_entrega" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Día</label>
                                <input type="number" id="dia_entrega" name="dia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" min="1" max="31" required />
                            </div>
                            <div class="col-span-2">
                                <label for="mes_entrega" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mes</label>
                                <select id="mes_entrega" name="mes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                    <option value="">Seleccione</option>
                                    <option value="ENERO">Enero</option>
                                    <option value="FEBRERO">Febrero</option>
                                    <option value="MARZO">Marzo</option>
                                    <option value="ABRIL">Abril</option>
                                    <option value="MAYO">Mayo</option>
                                    <option value="JUNIO">Junio</option>
                                    <option value="JULIO">Julio</option>
                                    <option value="AGOSTO">Agosto</option>
                                    <option value="SEPTIEMBRE">Septiembre</option>
                                    <option value="OCTUBRE">Octubre</option>
                                    <option value="NOVIEMBRE">Noviembre</option>
                                    <option value="DICIEMBRE">Diciembre</option>
                                </select>
                            </div>
                            <div>
                                <label for="año_entrega" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Año</label>
                                <input type="text" id="año_entrega" name="año" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="2025" required />
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-3 mb-3">
                        <div class="col-span-3">
                            <label for="nombre_completo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre completo</label>
                            <input type="text" id="nombre_completo" name="nombre_completo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                        </div>
                        <div class="col-span-2">
                            <label for="cedula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de identificacion</label>
                            <input type="number" id="cedula" name="cedula" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                        </div>
                        <div>
                            <label for="expedicion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ciudad de expedicion</label>
                            <input type="text" list="ciudades" id="expedicion" name="expedicion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

                            <datalist id="ciudades">
                                <option value="BOGOTÁ"></option>
                                <option value="MEDELLÍN"></option>
                                <option value="CALI"></option>
                                <option value="BARRANQUILLA"></option>
                                <option value="CARTAGENA"></option>
                                <option value="CÚCUTA"></option>
                                <option value="BUCARAMANGA"></option>
                                <option value="MANIZALES"></option>
                                <option value="PEREIRA"></option>
                                <option value="ARMENIA"></option>
                                <option value="IBAGUÉ"></option>
                                <option value="VILLAVICENCIO"></option>
                                <option value="NEIVA"></option>
                                <option value="PASTO"></option>
                                <option value="POPAYÁN"></option>
                                <option value="SANTA MARTA"></option>
                                <option value="VALLEDUPAR"></option>
                                <option value="RIOHACHA"></option>
                                <option value="MONTERÍA"></option>
                                <option value="SINCELEJO"></option>
                                <option value="QUIBDÓ"></option>
                                <option value="TUNJA"></option>
                                <option value="FLORENCIA"></option>
                                <option value="YOPAL"></option>
                                <option value="MOCOA"></option>
                                <option value="SAN JOSÉ DEL GUAVIARE"></option>
                                <option value="PUERTO CARREÑO"></option>
                                <option value="MITÚ"></option>
                                <option value="INÍRIDA"></option>
                                <option value="ARAUCA"></option>
                                <option value="CARTAGO"></option>
                                <option value="PALMIRA"></option>
                                <option value="BUENAVENTURA"></option>
                                <option value="SOLEDAD"></option>
                                <option value="VILLANUEVA"></option>
                                <option value="ENVIGADO"></option>
                                <option value="ITAGÜÍ"></option>
                                <option value="BELLO"></option>
                                <option value="GIRARDOT"></option>
                                <option value="DUITAMA"></option>
                                <option value="SOGAMOSO"></option>
                                <option value="ZIPAQUIRÁ"></option>
                                <option value="CHÍA"></option>
                                <option value="FACATATIVÁ"></option>
                                <option value="FUSAGASUGÁ"></option>
                                <option value="PIEDECUESTA"></option>
                                <option value="FLORIDABLANCA"></option>
                                <option value="DOSQUEBRADAS"></option>
                                <option value="SOACHA"></option>
                                <option value="TURBO"></option>
                                <option value="APARTADÓ"></option>
                                <option value="SAN ANDRÉS"></option>
                                <option value="RIONEGRO"></option>
                                <option value="BARRANCABERMEJA"></option>
                                <option value="MALAMBO"></option>
                                <option value="MAICAO"></option>
                                <option value="OCAÑA"></option>
                                <option value="IPIALES"></option>
                                <option value="SAMANÁ"></option>
                                <option value="JAMUNDÍ"></option>
                                <option value="LA DORADA"></option>
                                <option value="ESPINAL"></option>
                                <option value="PITALITO"></option>
                                <option value="BARRANCAS"></option>
                                <option value="URIBIA"></option>
                                <option value="DIBULLA"></option>
                                <option value="FONSECA"></option>
                                <option value="MANAURE"></option>
                                <option value="ALBANIA"></option>
                                <option value="EL MOLINO"></option>
                                <option value="DISTRACCIÓN"></option>
                                <option value="SAN JUAN DEL CESAR"></option>
                                <option value="HATONUEVO"></option>
                                <option value="EL COPEY"></option>
                                <option value="BOSCONIA"></option>
                                <option value="AGUSTÍN CODAZZI"></option>
                                <option value="CURUMANÍ"></option>
                                <option value="LA PAZ"></option>
                                <option value="MANAURE BALCÓN DEL CESAR"></option>
                                <option value="CHIMICHAGUA"></option>
                                <option value="ASTREA"></option>
                                <option value="EL PASO"></option>
                                <option value="TAMALAMEQUE"></option>
                                <option value="GAMARRA"></option>
                                <option value="GONZÁLEZ"></option>
                                <option value="SAN MARTÍN"></option>
                                <option value="AGUACHICA"></option>
                                <option value="PUEBLO BELLO"></option>
                                <option value="LA JAGUA DE IBIRICO"></option>
                                <option value="BECERRIL"></option>
                            </datalist>
                        </div>
                        <div>
                            <label for="cesantias" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cesantías</label>
                            <select id="cesantias" name="cesantias" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                                <option value="">Seleccione</option>
                                <option value="PORVENIR">Porvenir</option>
                                <option value="PROTECCION">Protección</option>
                                <option value="COLFONDOS">Colfondos</option>
                                <option value="FNA">Fondo Nacional del Ahorro (FNA)</option>
                                <option value="N/A">N/A</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Generar Acta de Entrega</button>
                </article>
                
                <div class="md:max-w-[60vw] w-[60%] overflow-auto h-full">
                </div>
            </section>
        </form>
    </main>
    <footer class="text-center pb-5">
        <p class="italic"><span class="font-bold">RDFelix</span> | © 2025 DomiActas IT. Casi todos los derechos reservados</p>
    </footer>
</body>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</html>